<div class="jumbotron">
  <h1>Welcome to Bank App!</h1>
  <p>"Always give without remembering and always receive without forgetting" - Brian Tracy</p>
  <p><a class="btn btn-primary btn-lg" href="take_loans" role="button">Take a tour</a></p>
</div>