<% if @loans.any? %>
<div class="bigbox">
  <div class="box">
    <table class="table-minimal">
      <h1> List of All Loan Payments </h1>
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <%= render loan %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% else %>

<p>No loans have been taken.</p>

Link to new loan here

<% end %> 