<div class="bigbox">
  <div class="box">
    <table class="table-minimal">
      <h1> List of User's Loans </h1>
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <%= render loan %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>