<div class="bigbox">
  <div class="box">
    <table class="table-minimal">
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <%= render 'loan' %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>