<% if @payments.any? %>

<div class="bigbox">
  <div class="box">
    <table class="table-minimal">
      <h1> List of Payments </h1>
      <tbody>
        <% @payments.each do |payment| %>
          <tr>
            <%= render payment %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% else %>

<p>No payments have been made.</p>

<%= link_to "Make a new Payment!", :controller => "payments", :action => "new", :id => @payments %>

<% end %> 