<%= render 'shared/page_title', title: "All Payments" %>


<% if @payments.any? %>
  <div class="bigbox">
    <div class="box">
      <table class="table-minimal">
        <tbody>
          <% @payments.each do |payment| %>
            <tr>
              <%= render payment %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p>No payments have been made.</p>
  <p>To make a payment you must choose a loan.</p>
<% end %> 