<h1 class="payment_name">New Payment</h1>


Please, select a loan for wich you want to pay.


<%= form_for(:payment, :url => { :action => 'create'}) do |f| %>

	<table summary="Payment form field">

		<tr>
			<th>Payment amount (must be grater than 10)</th>
			<td><%= f.number_field(:payment_amount) %></td>
		</tr>
		<tr>
			<th>Additions</th>
			<td><%= f.text_field(:description) %></td>
		<tr>
	</table>

	<div class="actions">
      <%= f.submit "Accept" %>
  	</div>



<% end %>

